@media screen and (min-width: 320px) and (max-width: 374px) {
  .events-container {
    margin: 5px 15px 15px;
  }
  button.view-events {
    font-size: 16px;
    padding-left: 11px;
    width: 45%;
  }
  .card-deck {
    margin: 0px 12px 12px;
  }
  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }

  div#event-nav {
    padding-top: 10px;
    font-size: 20px;
    line-height: 38px;
  }
  .card-img-overlay {
    padding: 0px;
  }
   p.card-text {
    font-size: 16px;

    margin-top: 75%;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .events-container {
    margin: 5px 15px 15px;
  }
  button.view-events {
    font-size: 16px;
    padding-left: 8%;
  }
  .card-deck {
    margin: 0px 12px 12px;
  }
  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }
  .card-img-overlay {
    padding: 0px;
  }
   p.card-text {
    font-size: 16px;

    margin-top: 75%;
  }
}
@media screen and (min-width: 425px) and (max-width: 550px) {
  .events-container {
    margin: 5px 15px 15px;
  }

  button.view-events {
    font-size: 16px;
    padding-left: 8%;
  }
  .event-deck.card-deck {
    display: flex;
  }
  p.card-text {
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
    position: relative;
    margin-top: 65%;
  }
  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }
  .card-img-overlay {
    padding: 0px;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  .events-container {
    margin: 5px 15px 15px;
  }

  button.view-events {
    font-size: 16px;
  }

  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }
  .card-img-overlay {
    padding: 0px;
  }
  p.card-text {
    font-size: 16px;

    margin-top: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .events-container {
    margin: 5px 15px 15px;
  }
  button.view-events {
    font-size: 16px;
  }
  .card-deck {
    margin: 0px 12px 12px;
  }
  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }
  .card-img-overlay {
    padding: 0px;
  }
  p.card-text {
    font-size: 22px;

    margin-top: 95%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .events-container {
    margin: 30px 15px 15px;
  }
  div#event-nav {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
  }
  button.view-events {
    font-size: 26px;
    padding-left: 25px;
    width: 20%;
    height: 3rem;
  }
  .card-deck {
    margin: 0px 12px 12px;
  }
  .card-title {
    margin-bottom: 0.75rem;
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding-top: 5%;
    text-align: center;
  }
  .view-events {
    display: flex;
    justify-content: space-between;
    margin: 10px 26px 15px;
  }
  button.view-events {
    font-size: 26px;
    padding-left: 25px;
    width: 20%;
    height: 3rem;
  }
  .card-img-overlay {
    padding: 0px;
  }
  p.card-text {
    font-size: 22px;

    margin-top: 95%;
  }
}
@media screen and (min-width: 1440px) {
  div#event-nav {
    font-size: 40px;
  }
  button.view-events {
    border-radius: 0px;
    font-size: 30px;
    height: 3.5rem;
    text-align: center;
    width: 20%;
    padding-left: 4%;
  }
  .view-events {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px;
  }
  .all-events {
    margin: 10px 20px 20px;
  }
  .card-title {
    width: 30%;
    height: 20%;
  }
  .card-img-overlay {
    padding: 0px;
  }
  p.card-text {
    font-size: 22px;

    margin-top: 95%;
  }
}
