
@media screen and (min-width: 320px) and (max-width: 374px) {}
@media screen and (min-width: 375px) and (max-width: 424px) {}
@media screen and (min-width: 425px) and (max-width: 550px) {}
@media screen and (min-width: 551px) and (max-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 1024px) and (max-width: 1440px) {}
@media screen and (min-width: 1440px) {}