@media screen and (min-width: 320px) and (max-width: 374px) {
  .twitter {
    padding-left: 30%;
  }

  .footer-image {
    justify-content: space-between;
    display: inline-flex;
  }
  img#footer-logo {
    width: 80px;
    height: 60px;
  }
  img#icons {
    width: 80px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  img#twitter {
    width: 100%;
  }
  .footer-image {
    justify-content: space-between;
    display: inline-flex;
  }
}
@media screen and (min-width: 425px) and (max-width: 550px) {
  .twitter {
    padding-left: 60%;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  .twitter {
    padding-left: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .twitter {
    padding-left: 60%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  img#icons {
    width: 180px;
  }
  .footer-image {
    width: 50%;
  }
  .twitter {
    padding-left: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .twitter {
    padding-left: 60%;
  }
}
