@media screen and (min-width: 320px) and (max-width: 374px) {
  main {
    margin-top: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  main {
    margin-top: 30px;
  }
  section#banner {
    margin-left: -1rem;
    margin-right: -1rem;
}
}
@media screen and (min-width: 425px) and (max-width: 550px) {
  main {
    margin-top: 40px;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  main {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding-top: 15px;
    margin: 60px 10px 10px;
  }
  section#events {
    margin: 30px 30px 10px;
  }
}
