.banner-container {
  background-image: url('../Images/banner-image.svg');
  background: url('../Images/banner-image.svg') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 310px;
}
.inner-banner {
  margin: px 20px;
  text-align: center;

  top: 50pxpx;
  top: 50px;
  margin-top: 50px;
  display: inline-block;
}
.banner-text {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 20px 5px 20px;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
}
#line {
  margin: auto;
  width: 80px;
  background: linear-gradient(98.01deg, #00c2ff 14.16%, #ff27c3 79.91%);
  position: relative;
  height: 2px;
}
button.book-button {
  border: 1px solid;
  border-image-source: linear-gradient(
    98.01deg,
    #00c2ff 14.16%,
    #ff27c3 79.91%
  );
  border-image-slice: 1;
  color: #ffffff;
  width: 50%;
  height: 2.5rem;
  font-family: Oswald;

  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
}

button.book-button:hover {
  background: rgb(0, 194, 255);
  background: linear-gradient(
    98deg,
    rgba(0, 194, 255, 1) 14.16%,
    rgba(255, 39, 195, 1) 79.91%
  );
}

@media screen and (min-width: 320px) and (max-width: 374px) {
}
@media screen and (min-width: 375px) and (max-width: 424px) {
}
@media screen and (min-width: 425px) and (max-width: 550px) {
}
@media screen and (min-width: 551px) and (max-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-text {
    font-size: 24px;

    padding: 0px 80px;
  }
  button.book-button {
    width: 30%;
    height: 3rem;

    font-size: 22px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .banner-text {
    margin: 20px 50px 20px;

    font-size: 28px;

    padding: 0px 100px;
  }
  button.book-button {
    width: 20%;
    height: 3rem;

    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1440px) {
}
