/* Navigation */

nav.navbar.fixed-top {
  background-color: white;
}
.nav-item {
  font-size: 20px;
  line-height: 24px;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  margin-bottom: 0;
  justify-content: space-around;
  font-size: 18px;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}

input.form-control[type='text'] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  border: 1px solid #ffffff;
}
img#search-icon {
  height: 20px;
  padding-left: 10px;
  margin-top: 10px;
}
/* Main components css */

.text-area {
  text-align: left;
  padding-top: 15px;
}
blockquote .break::before {
  content: '\A';
  white-space: pre;
}

button.view-button {
  border-radius: 20px;
  color: #333333;
  border: solid 2px transparent;
  background-image: linear-gradient(98.01deg, #00c2ff 14.16%, #ff27c3 79.91%);
  background-origin: border-box;

  height: 2.5rem;
  font-size: 20px;
  box-shadow: 2px 1000px 1px #fff inset;
}

button.view-button:hover {
  box-shadow: none;
  color: white;
}

/* Cards components css */
.card-title h5 {
  padding-bottom: 10px;
  background-color: #fff;
  text-align: left;
}
.cards-field {
  display: block;
  padding: 10px 10px;
}

p.card-text {
  bottom: 0px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding-left: 5px;
}
.title,
.title-deck {
  font-size: 22px;
  line-height: 25px;
  padding: 5px 0px;
}
.text,
.text-deck {
  font-size: 16px;
  line-height: 24px;
}
img.arrow {
  padding-left: 10px;
  padding-bottom: 5px;
}

/* Banner component*/
.inner-banner {
  margin: 70px 0px 20px;
  text-align: center;
  display: inline-block;
}
.banner-text {
  text-align: center;
  font-size: 20px;
  margin: 20px 5px 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
}

.banner-text span::before {
  content: '\A';
  white-space: pre;
}
#line {
  margin: auto;
  width: 80px;
  background: linear-gradient(98.01deg, #00c2ff 14.16%, #ff27c3 79.91%);
  position: relative;
  height: 2px;
}
button.book-button {
  border: 1px solid;
  border-image-source: linear-gradient(
    98.01deg,
    #00c2ff 14.16%,
    #ff27c3 79.91%
  );
  border-image-slice: 1;
  color: #ffffff;
  width: 50%;
  height: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
}

button.book-button:hover {
  background: rgb(0, 194, 255);
  background: linear-gradient(
    98deg,
    rgba(0, 194, 255, 1) 14.16%,
    rgba(255, 39, 195, 1) 79.91%
  );
}

/* upcoming events*/
.view-events {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 15px;
}
.card-title {
  margin-bottom: 0.75rem;
  width: 40%;
  height: 30%;
  background-color: #fff;
  padding-top: 10%;
  text-align: center;
}
p.card-text {
  color: white;
  font-size: 22px;
  text-align: left;
  padding-left: 5px;
  position: relative;
}
div#event-nav {
  font-size: 22px;
  line-height: 48px;
}

button.view-events {
  border-radius: 20px;
  color: #333333;
  border: solid 1px transparent;
  background-image: linear-gradient(98.01deg, #00c2ff 14.16%, #ff27c3 79.91%);
  background-origin: border-box;

  color: #333333;
  height: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  box-shadow: 2px 1000px 1px #fff inset;
}

button.view-events:hover {
  box-shadow: none;
  color: white;
}

/* footer */
.footer-container {
  bottom: 0;
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.footer-image {
  background-image: url('../Images/big-logo.svg');
  background: url('../Images/big-logo.svg') no-repeat left center;
  width: 100%;
  display: block;
}
.footer-image img {
  display: block;
}

img#twitter {
  width: 100%;
  object-fit: cover;
}
img#footer-logo {
  height: 30px;
}
.card {
  border: none;
}
