nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
  background-color: white;
}
header {
  position: fixed;

  height: 5vh;
  z-index: 2;
}

h1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

  color: #333333;
}
h4 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
}
.main-page {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}
.text-area {
  text-align: left;
  padding-top: 15px;
}
p.course {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  color: black;
}

button.view-button {
  border: 2px solid;
  border-image-source: linear-gradient(
    98.01deg,
    #00c2ff 14.16%,
    #ff27c3 79.91%
  );
  border-image-slice: 1;
  color: #333333;
  width: 100%;
  height: 2.5rem;
  font-family: Oswald;
  font-size: 20px;
  background-color: transparent;
}

button.view-button:hover {
  background: rgb(0, 194, 255);
  background: linear-gradient(
    98deg,
    rgba(0, 194, 255, 1) 14.16%,
    rgba(255, 39, 195, 1) 79.91%
  );
  color: white;
}

section {
  margin-bottom: 10px;
}
section#Banner {
  /* margin: 0; */
  margin-left: -1rem;
  margin-right: -1rem;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
  .main-page {
    flex-direction: column-reverse;
  }

  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h3 {
    font-size: 26px;
    line-height: 38px;
  }
  h4 {
    font-size: 30px;
    font-weight: 600;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
  .main-page {
    flex-direction: column-reverse;
  }

  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
  h3 {
    font-size: 28px;
    line-height: 35px;
  }
  h4 {
    font-size: 32px;
  }

  button.view-button {
    font-size: 26px;
    height: 2.8rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 550px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
  .main-page {
    flex-direction: column-reverse;
  }

  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 42px;
    line-height: 50px;
  }
  h3 {
    font-size: 28px;
    line-height: 35px;
  }
  h4 {
    font-size: 32px;
  }

  button.view-button {
    font-size: 26px;
    height: 2.8rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }

  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 35px;
    line-height: 20px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    font-weight: 600;
  }
  h4 {
    font-size: 25px;
    line-height: 30px;
  }

  button.view-button {
    font-size: 18px;
    height: 3rem;
    width: 70%;
    font-weight: 600;
  }
  p.course {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }

  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 44px;
    line-height: 50px;
  }
  h3 {
    font-size: 26px;
    line-height: 40px;
    padding-top: 40px;
    font-weight: 600;
  }
  h4 {
    font-size: 30px;
    line-height: 45px;
  }

  button.view-button {
    font-size: 18px;
    height: 3rem;
    width: 60%;
    font-weight: 600;
  }
  p.course {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
  .text-area {
    text-align: left;

    padding: 15px 20px;
  }
  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
    height: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 9%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 80px;
    line-height: 100px;
    padding-top: 50px;
  }
  h3 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 40px;
    font-weight: 600;
  }
  h4 {
    font-size: 40px;
    line-height: 60px;
  }

  button.view-button {
    font-size: 26px;
    height: 4rem;
    width: 52%;
    font-weight: 600;
  }
  p.course {
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 60px;
    padding-top: 15px;
  }
  .text-area {
    text-align: left;

    padding: 15px 20px;
  }
  .image-area {
    position: relative;
    top: 0;
    left: 0;
  }
  .imgA2 {
    position: revert;
    width: 100%;
    height: 100%;
  }
  .imgA1 {
    position: absolute;
    z-index: 1;
    width: 30px;
    position: absolute;
    left: 4%;
    top: 3.5%;
    bottom: 94.17%;
  }
  h1 {
    font-size: 80px;
    line-height: 100px;
    padding-top: 50px;
  }
  h3 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 40px;
    font-weight: 600;
  }
  h4 {
    font-size: 40px;
    line-height: 60px;
  }

  button.view-button {
    font-size: 26px;
    height: 4rem;
    width: 52%;
    font-weight: 600;
  }
  p.course {
    font-size: 20px;
    line-height: 40px;
  }
}
